.cart-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.cart-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

#add{
  font-size:1.2em;
  border:2px solid #F5F7F8;
  color: black;
  background-color: greenyellow;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 10%,
}

#add:hover{
  background-color: white;
  color:rgb(111, 111, 240);
  }

  #remove{
    font-size:1.2em;
    border:2px solid #F5F7F8;
    color: black;
    background-color: rgb(236, 135, 135);
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 10%,
  }
  
  #remove:hover{
    background-color: white;
    color:red;
    }

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  width: 100%;
  margin: 0;
}

.nav-list-item {
  cursor: pointer;
}

.nav-list-link {
  text-decoration: none;
  color: black;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item-image {
  max-width: 100px;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-title {
  font-size: 1.5rem;
  margin: 0;
}

.cart-item-remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.cart-item-remove-button:hover {
  background-color: darkred;
}

.cart-item-price {
  padding-left: 50px;
  font-size: 1.5rem;
}
